flask==3.0.0
flask-login
flask-sqlalchemy
flask-migrate
flask-caching
flask-socketio
flask-cors
gunicorn==21.2.0
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.3.0
xgboost==1.6.2
tensorflow-cpu==2.15.0
keras==2.15.0
matplotlib==3.7.2
requests==2.31.0
joblib==1.3.2
openpyxl==3.1.2
